body{
  background: skyblue;
}

.header {
  text-align: center;
  color: black;
}

.checkout h3 {
  text-align: center;
}

.receipt {
  display: none;
}

.well{
  margin-top: 100px;
}
.header {
  border: 1px solid white;
}
.main {
  border: 1px solid black;
}
